.header {
    margin: "0 auto";
    padding: "0.5rem 1.0875rem";
    background: #F6F9FC;
    height: 50px;
    margin-bottom: 1.45rem;
    min-width: 340px;
}

.logo {
    padding: 10px;
    display: inline-block;
    color: 	#010048 !important;
    margin-left: 5px;
}

.links {
    height: 50px;
    display: inline;
}

.links ul li {
    line-height: 50px;
    padding: 10px;
    height: 50px;
    margin: 0;
    text-align: center;
    display: inline;


    /* Takes away selection */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}


.links ul {
    float: right;
    display: inline-block;
    margin: 0 10px 0 0; 
}

